.virtualized-container {
  width: 100%;
  margin: auto;
  overflow-y: auto;
  position: relative;
}

.virtualized-inner {
  position: relative;
}

.loading-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
